Repository Jhintle/cd12355-microservices-aws-kubernetes-project-starter, changes with the owners that CODEOWNERS names for each.
All owners: @udacity/description, @udacity/license, @udacity/python-app, @udacity/database-content, @cherkavi

create role and policy for role
  README-for-users.md
  codebuild-iam-policy.json
  codebuild-iam-role.json
Owners: @cherkavi

working code for codebuild
  README-for-users.md
  README-implementation.md
  codebuild-iam-policy.json
  codebuild-iam-role.json
  codebuild-project-template.json
Owners: @cherkavi

change role policy for codebuild
  README-for-users.md
  codebuild-iam-policy.json
Owners: @cherkavi

extend gitignore
  .gitignore
Owners: none

eks service up and running
  README-for-users.md
  README-implementation.md
  eks-iam-role.json
  eks-node-iam-role.json
Owners: @cherkavi

postgresql via help installation
  README-for-users.md
  README-implementation.md
Owners: @cherkavi

configmap with secret with local-storage template
  README-for-users.md
  eks-localstorage.yaml-template
Owners: @cherkavi

start app on cluster
  .gitignore
  README-for-users.md
  README-implementation.md
  eks-deployment-app.yaml-template
Owners: @cherkavi

fix sqlalchemy mapping
  analytics/app.py
Owners: @udacity/python-app

primary key
  analytics/app.py
Owners: @udacity/python-app

eks deployment, service and re-build description, final check done
  .gitignore
  README-for-users.md
  README-implementation.md
  eks-deployment-app.yaml-template
  eks-service-app.yaml-template
Owners: @cherkavi

images of confirmation of fullfilment
  images/README.md
Owners: @udacity/description

buildspec.yml
  buildspec.yml
Owners: none

CODEOWNERS:

README.md                   @udacity/description
LICENSE.txt                 @udacity/license
analytics/*                 @udacity/python-app
db/*                        @udacity/database-content

README-for-users.md         @cherkavi
README-implementation.md    @cherkavi
Dockerfile                  @cherkavi
